html { 
	background: url(../background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
body {
	margin: 0;
}

#container {
	width: 100%;
	text-align: center;
}
#videoElement {
	width: 90%;
	height: 80vh;
	transform: rotateY(180deg);
	/*clip-path: ellipse(60px 40px at 75px 30px);*/
}
#logo {
	width: 25%;
}
#love {
	color:white;
	margin-left: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}