html { 
	background: url(../background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
body {
	margin: 0;
}

#container {
	width: 100%;
	text-align: center;
}
#videoElement {
	width: 90%;
	height: 80vh;
	transform: scaleX(-1);
}

#logo {
	width: 25%;
}
#love {
	color:white;
	margin-left: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

video::-webkit-media-controls {
	display:none !important;
  }

#mirror-wrapper:fullscreen  #videoElement{
height:100%;
}